@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@mixin respond {
  @media screen and (max-width: 629px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
}

.header {
  background-image: url(../assets/images/background-pattern-desktop.svg);
  background-size: cover;
  height: 32rem;
  max-width: 144rem;
  margin: 0 auto;

  @include respond() {
    background-image: url(../assets/images/background-pattern-mobile.svg);
  }
}

.accordion {
  position: relative;
  background-color: #fff;
  max-width: 60rem;
  max-height: 100rem;
  padding: 4rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  margin-top: -15.2rem;
  margin-bottom: 15rem;
  border-radius: 1.5rem;
  box-shadow: 0 2rem 6rem hsla(292, 16%, 49%, 0.25);

  @include respond() {
    max-width: 86.5%;
    max-height: 100rem;
    padding: 2rem;
    padding-bottom: 1rem;
  }

  &__heading {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include respond() {
      margin-left: 5.5rem;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }

  &__heading::before {
    content: url(../assets/images/icon-star.svg);
    margin-right: 4rem;
    margin-right: 2.6rem;

    @include respond() {
      position: absolute;
      top: 21px;
      left: 20px;
    }
  }

  &__item {
    &:not(:first-of-type) {
      border-top: 1px solid #f7f6fc;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      color: #9d35d0;
    }

    &::after {
      content: url(../assets/images/icon-plus.svg);
    }

    &--active {
      &::after {
        content: url(../assets/images/icon-minus.svg);
      }
    }
  }

  &__question {
    color: hsl(292, 42%, 14%);
    font-family: "Work Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2rem 0;

    @include respond() {
      font-size: 1.4rem;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__answer {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
    color: hsl(292, 16%, 49%);
    padding-bottom: 2rem;
  }
}

.u-active {
  max-height: fit-content;
}
